{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}  <!-- Add this line to load static files -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHILD VACCINATION | Appointment</title>

    <!-- Web Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="{% static 'assets/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/footer.css' %}">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{% static 'assets/plugins/line-icons-pro/styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/line-icons/line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css' %}">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
</head>

<!-- ... (rest of your code) ... -->
<!-- Make sure your Django project structure includes the necessary static files, and adjust the paths accordingly based on your project structure. -->

<body>
	<div class="wrapper">
	<!--=== Header v1 ===-->
	<div class="header-v1">
	<!-- Topbar -->
	<div class="topbar-v1">
	<div class="container">
	<div class="row">
	<div class="col-md-6">
		<ul class="list-inline top-v1-contacts">
		<li>
		<i class="fa fa-envelope"></i> Email: childvacc@gmail.com
		</li>
		<li>
		<i class="fa fa-phone"></i> Contact no : 9104563825
		</li>
		</ul>
	</div>
	</div>
	</div>
	</div>

<!-- End Topbar -->

				<!-- Navbar -->
				<div class="navbar mega-menu" role="navigation">
				<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="res-container">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>

				<div class="navbar-brand">
				<a href="index.php">
				<img src="./assets/img/logo/logochildvacc1.jpg" alt="Logo">
				</a>
				</div>
				</div><!--/end responsive container-->

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-responsive-collapse">
				<div class="res-container">
				<ul class="nav navbar-nav">

				<!-- Collect the nav links, forms, and other content for toggling -->


				<!-- Home  -->
				<li class="mega-menu-fullwidth">
				<a href="profile.php" style="font-size: large;" >
				Back
				</a>

				</li>
				<!-- End Home-->

				<!-- Registration -->
				<!-- <li class="mega-menu-fullwidth">
					<a href="registration.php" >
					REGISTRATION
					</a>	
					</li> -->
					<!-- End registration -->
	
					<!-- login -->
					<!-- <li class="mega-menu-fullwidth">
					<a href="login.php" >
					LOGIN
					</a>	
					</li> -->
					<!-- End login -->

					<!-- Doctors -->
				<!-- <li class="mega-menu-fullwidth">
					<a href="doctors.php" >
					PEDIATRICIANS
					</a>
	
					</li> -->
					<!-- End Doctors -->

					<!-- Appointment -->
				<!-- <li class="mega-menu-fullwidth">
					<a href="appointment.php">
					BOOK APPOINTMENT
					</a>
	
					</li> -->
					<!-- End Appointment -->

				<!-- Gallery -->
				<!-- <li class="mega-menu-fullwidth">
				<a href="gallery.php" >
				VACCINATION
				</a>

				</li> -->
				<!-- End Gallery -->

				<!-- Contact Us -->
				<!-- <li class="mega-menu-fullwidth">
				<a href="contact.php" >
				CONTACT US
				</a>	
				</li> -->
				<!-- End Contact us -->

				</ul>

				</div>
				</div>
				</div>
				</div>
				</div>
				<!-- End Navbar -->



	<!--=== Heading ===-->
	<div class="container content">
	<div class="row " style="margin-bottom: 30px;">
	<div class="col-md-9 " style="margin-bottom: 30px;">
	<div class="headline"><h2>Appointment Form</h2></div>

				<!--=== APPOINTMENT FORM ===-->
				<form onsubmit="showMsg(0);return false;" method="post" class="sky-form sky-changes-3">
				<fieldset>
				<div class="row">
				<section class="col col-6">
				<label class="label">Child Name</label>
				<label class="input">
				<i class="icon-append fa fa-user"></i>
				<input type="text" name=" Child name" id="name" required="">
				</label>
				</section>
				<section class="col col-6">
				<label class="label">E-mail</label>
				<label class="input">
				<i class="icon-append fa fa-envelope-o"></i>
				<input type="email" name="email" id="email" required="">
				</label>
				</section>
				</div>

				<section>
					<label class="select">
					<select name="Age Group" required="">
					<option value="" selected="" disabled="">Select Age group</option>
				<option>6 Week </option>
				<option>10 Week</option>
				<option>14 Week</option>
				<option>9 Month</option>
				<option>12 Month</option>
				<option>15 Month </option>
				<option>16-18 Month</option>
				<option>18 Month </option>
				<option>9 Month</option>
				<option>2 Year </option>
				<option>5 Year </option>
				<option>10 Year </option>
				</select>
				<i></i>
				</label>
				</section>

				<section>
					<label class="select">
					<select name="Age Group" required="">
					<option value="" selected="" disabled="">Select Doctor:</option>
				<option>Dr. Sarah Johnson, M.D. - Doctor of Medicine (Pediatrics) </option>
				<option>Dr. Emily Davis, D.O. - Doctor of Osteopathic Medicine (Pediatrics)</option>
				<option>Dr. Michael Wilson, MBBS - Bachelor of Medicine, Bachelor of Surgery (Pediatrics)</option>
				<option>Dr. Jessica Lee, FRCPCH - Fellow of the Royal College of Paediatrics and Child Health</option>
				<option>Dr. Laura Smith, MD (Pediatrics) - Doctor of Medicine (Pediatrics)</option>
				<option>Dr. Brian Clark, FAAP - Fellow of the American Academy of Pediatrics</option>
				<option>Dr. Lisa Miller, M.B.B.S - Bachelor of Medicine, Bachelor of Surgery (Pediatrics)</option>
				<option>Dr. David Brown, DCH - Diploma in Child Health</option>
				<option>Dr. David Brown, DCH - Diploma in Child Health</option>
				<option>Dr. Kevin White, FCPS - Fellow of the College of Physicians and Surgeons (Pediatrics)</option>

				</select>
				<i></i>
				</label>
				</section>

				


				<!--<section>
					<label class="select">
					<select name="Doctors" required="">
					<option value="" selected="" disabled="">SelectDoctors</option>
				<option>6 Week </option>
				<option>10 Week</option>
				<option>14 Week</option>
				<option>9 Month</option>
				<option>12 Month</option>
				<option>15 Month </option>
			
				</select>
				<i></i>
				</label>
				</section> -->

				<section>
				<label class="label">Last Vaccine Certifiacte</label>
				<label class="form-control">
				<i class="icon-append fa fa-phone"></i>
				<form action="/action_page.php">
					<input type="file" id="myFile" name="filename">
				</label>
				</section> 
                 
				<section>
				<div class="row">
				<section class="col col-6">
				<label class="date">Select Date</label>
				<label class="input">
				<i class="icon-append fa fa-calendar"></i>
				<input type="date" required="">
				</label>
				</section>

				<section class="col col-6">
				<label class="time">Select Time</label>
				<label class="select">
				<select name="Time" required="">
				<option value="" selected="" disabled="">Select Time slot</option>
				<option>8 AM - 10 AM</option>
				<option>10 AM - 12 PM</option>
				<option>12 PM - 2 PM</option>
				<option>2 PM - 4 PM</option>
				<option>4 PM - 6 PM</option>
				</select>
				<i></i>
				</label>
				</section>
				</div>
				<div class="alert alert-success successBox">
				<button type="button" class="close" onclick="showMsg(1);">×</button>
				<strong style="font-size: 16px;">Congratulations!</strong><span class="alert-link"> Your Appointment has been booked successfully.</span>
				</div>

				</fieldset>

				<footer>
				<button type="submit" class="btn-u">SUBMIT</button>
				<a href="index.php">
					
					</a>
				</footer>


				</form>
				</div><!--/col-md-9-->

				
						<!-- side part of appointment -->
						
				<div class="headline"><h2>READY TO VACCINATE !!</h2></div>
						
				</div>

		<!--=== Footer ===-->
		<div class="footer-v1">
		<div class="footer">
		<div class="container">
		<div class="row">
		<!-- About -->
		<div class="col-md-3 " style="margin-bottom: 40px;">
		<a href="index.php"><img id="logo-footer" class="footer-logo" src="./assets/img/logo/logochildvacc1.jpg" alt=""></a>
		<p>On-time vaccination throughout childhood is essential because it helps provide immunity before children are exposed to potentially life-threatening diseases.</p>
		<p>Our mission is to ensure that they are safe and effective for children to receive at the recommended ages.</p>
		</div><!--/col-md-3-->
		<!-- End About -->

		<!-- Latest -->
		<div class="col-md-3 " style="margin-bottom: 40px;">
		<div class="posts">
		<div class="headline"><h2>Latest Posts</h2></div>
		<ul class="list-unstyled latest-list">
		<li>
		<a href="blog.php">Incredible content</a>
		<small>October 16, 2023</small>
		</li>
		<li>
		<a href="gallery.php">Latest Images</a>
		<small>October 16, 2023</small>
		</li>
		<li>
		<a href="terms.php">Terms and Conditions</a>
		<small> October 16, 2023</small>
		</li>
		</ul>
		</div>
		</div><!--/col-md-3-->
		<!-- End Latest -->

		<!-- Link List -->
		<div class="col-md-3 " style="margin-bottom: 40px;">
		<div class="headline"><h2>Useful Links</h2></div>
		<ul class="list-unstyled link-list">
		<li><a href="about.php">About us</a><i class="fa fa-angle-right"></i></li>
		<li><a href="contact.php">Contact us</a><i class="fa fa-angle-right"></i></li>
		<li><a href="appointment.php">Book Appointment</a><i class="fa fa-angle-right"></i></li>
		</ul>
		</div><!--/col-md-3-->
		<!-- End Link List -->

		<!-- Details -->
		<div class="col-md-3 map-img " style="margin-bottom: 40px;">
		<div class="headline"><h2>Contact Us</h2></div>
		<address class="" style="margin-bottom: 40px;">
		Child Vaccination<br />
		Mumbai, IN <br />
		Phone: 9104563825<br />
		Email: childvacc@gmail.com 
		</address>
		</div><!--/col-md-3-->
		<!-- End Address -->
		</div>
		</div>
		</div><!--/footer-->

		<div class="copyright">
		<div class="container">
		<div class="row">
		<div class="col-md-6">
		<p>
		2020 &copy; All Rights Reserved.
		<a href="privacy.php">Privacy Policy</a> | <a href="terms.php">Terms of Service</a>
		</p>
		</div>

		<!-- Social Links -->
		<div class="col-md-6">
		<ul class="footer-socials list-inline">
		<li>
		<a href="http://www.facebook.com" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
		<i class="fa fa-facebook"></i>
		</a>
		</li>
		<li>
		<a href="http://www.skype.com" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
		<i class="fa fa-skype"></i>
		</a>
		</li>
		<li>
		<a href="http://www.googleplus.com" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
		<i class="fa fa-google-plus"></i>
		</a>
		</li>
		<li>
		<a href="http://www.linkedin.com" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
		<i class="fa fa-linkedin"></i>
		</a>
		</li>
		<li>
		<a href="http://www.Pinterest.com" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
		<i class="fa fa-pinterest"></i>
		</a>
		</li>
		<li>
		<a href="http://www.twitter.com" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
		<i class="fa fa-twitter"></i>
		</a>
		</li>
		</ul>
		</div>
		<!-- End Social Links -->
		</div>
		</div>
		</div><!--/copyright-->
		</div>
		<!--=== End Footer ===-->
</div><!--/wrapper-->

<script type="text/javascript" src="assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript">
	function showMsg(flag) {
		if (flag == 0) {
			$('.successBox').css('display', 'block');
		} else {
			$('.successBox').css('display', 'none');
		}
	}
</script>

</body>
</html>
