
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashbord</title>
    <link rel="stylesheet" href="{% static '/assets/css/profile.css' %}">

    <!-- Web Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="{% static 'assets/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/footer.css' %}">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{% static 'assets/plugins/line-icons-pro/styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/line-icons/line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/font-awesome/css/font-awesome.min.css' %}">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
</head>
<body>
    <div class="container">
        <aside>
          <div class="user">
            <picture>
              <img src="{% static '/assets/img/logo/logochildvacc1.jpg'%}" alt="User photo">
            </picture>
            <div class="user__info">
              <h4>Vedali Pawar</h4>
              <p>Mumbai, India</p>
            </div>
      
          </div>
          <nav>
            <ul>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid">
                  <path d="M3 3h7v7H3zM14 3h7v7h-7zM14 14h7v7h-7zM3 14h7v7H3z" /></svg>
                <span><a href="{%url 'profile'%}">Dashbord</a></span>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">
                  <path d="M17 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2" />
                  <circle cx="9" cy="7" r="4" />
                  <path d="M23 21v-2a4 4 0 00-3-3.87M16 3.13a4 4 0 010 7.75" /></svg>
                <span><a href="{% url 'appointment' %}">Book Appointment</a></span>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-database">
                  <ellipse cx="12" cy="5" rx="9" ry="3" />
                  <path d="M21 12c0 1.66-4 3-9 3s-9-1.34-9-3" />
                  <path d="M3 5v14c0 1.66 4 3 9 3s9-1.34 9-3V5" /></svg>
                <span><a href="{% url 'gallery' %}">Child Vaccination Calender</a></span>
              </li> 
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart">
                  <path d="M12 20V10M18 20V4M6 20v-4" /></svg>
                <span><a href="{% url 'blog' %}">Vaccination History</a></span>
              </li>
            </ul>
          </nav>
          <div class="settings">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings">
              <circle cx="12" cy="12" r="3" />
              <path d="M19.4 15a1.65 1.65 0 00.33 1.82l.06.06a2 2 0 010 2.83 2 2 0 01-2.83 0l-.06-.06a1.65 1.65 0 00-1.82-.33 1.65 1.65 0 00-1 1.51V21a2 2 0 01-2 2 2 2 0 01-2-2v-.09A1.65 1.65 0 009 19.4a1.65 1.65 0 00-1.82.33l-.06.06a2 2 0 01-2.83 0 2 2 0 010-2.83l.06-.06a1.65 1.65 0 00.33-1.82 1.65 1.65 0 00-1.51-1H3a2 2 0 01-2-2 2 2 0 012-2h.09A1.65 1.65 0 004.6 9a1.65 1.65 0 00-.33-1.82l-.06-.06a2 2 0 010-2.83 2 2 0 012.83 0l.06.06a1.65 1.65 0 001.82.33H9a1.65 1.65 0 001-1.51V3a2 2 0 012-2 2 2 0 012 2v.09a1.65 1.65 0 001 1.51 1.65 1.65 0 001.82-.33l.06-.06a2 2 0 012.83 0 2 2 0 010 2.83l-.06.06a1.65 1.65 0 00-.33 1.82V9a1.65 1.65 0 001.51 1H21a2 2 0 012 2 2 2 0 01-2 2h-.09a1.65 1.65 0 00-1.51 1z" /></svg>
            <span><a href="{% static 'child'%}">Logout</a></span>
          </div>

        </aside>
      
        <main>
          <header>
            <h4>Child Vaccination Scheduler</h4>
            <p>Here we go:)</p>
            <p>View all Features</p>
          </header>


{% block content %}
<!-- <h1>Appointment Data</h1> -->
<!-- <ul> -->
    
    <section>
      <div class="card">
        <img src="https://randomuser.me/api/portraits/women/65.jpg" alt="Authors photo" class="card__avatar">
        <!-- {for fields in } -->
        {% for item in appointment_data %}
        <p class="card__name">{item}</p>
        {% endfor %}
      </div>
      <div class="card">
        <img src="https://randomuser.me/api/portraits/men/30.jpg" alt="Authors photo" class="card__avatar">
        {%for item in childVacc%}
        <p class="card__article">{item}</p>
        {%endfor%}
      </div>
      <div class="card">
        <img src="https://randomuser.me/api/portraits/women/63.jpg" alt="Authors photo" class="card__avatar">
        {%for items in history%}
        <p class="card__article">{items}</p>
        {%endfor%}
      </div>
    </section>
  </main>
</div>
<!-- </ul> -->
{% endblock %}

</body>
</html>